{% load humanize %}

{% if basket %}
    <h4 class="mt-3 mb-3 d-flex justify-content-between align-items-center mb-3">
        Cart <span class="badge badge-secondary badge-pill">{{ basket.total_quantity }}</span>
    </h4>
    {% for items in basket %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ items.product.name }}</h5>
                <p class="card-text">{{ items.product.description }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-light">
                    <div class="row text-center">
                        <div class="col-lg-4">
                            <input name="basketID" type="number" class="form-control quantity-input"
                                   value="{{ items.quantity }}" min="0" data-price="{{ items.product.price }}">
                        </div>
                        <div class="col-lg-4 total-price">{{ items.sum|intcomma }} $</div>
                        <div class="col-lg-4">
                            <a href="{% url 'products:basket_remove' items.id %}">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    {% endfor %}
    <div class="card mb-3">
        <div class="card-footer">
            <p class="float-left">Summary</p>
            <h4 class="float-right total-sum">{{ basket.total_sum|intcomma }} $</h4>
        </div>
    </div>
    <a class="btn btn-success btn-lg float-right" href="{% url 'orders:order_create' %}">
        Make order
    </a>

{% else %}
    <h4 class="mt-3 mb-3 text-center">
        Cart is empty
    </h4>
{% endif %}
